Pandas Challenge 3

November 7, 2022

> Weekly Pandas Challenge 3 - Data In Motion
>
> Name : Mohammed Wasim R D
>
> **Linkedin : www.linkedin.com/in/mdwasimrd**
>
> **Dataset :
> https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv**
>
> **Challenge Questions**
>
> 1\) Which continent drinks more beer on average?
>
> 2\) For each continent print the statistics for wine consumption.
>
> 3\) Print the mean alcohol consumption per continent for every column.
>
> 4\) Print the median alcohol consumption per continent for every
> column.
>
> 1\)

<table>
<thead>
<tr class="header">
<th>[13]: <strong>import pandas as pd</strong></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><blockquote>
<p>drinks = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><blockquote>
<p><em>�→</em>data/drinks.csv')<br />
drinks.head()</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td>[13]:</td>
<td>country</td>
<td>beer_servings</td>
<td>spirit_servings</td>
<td>wine_servings</td>
<td><blockquote>
<p>\</p>
</blockquote></td>
</tr>
<tr class="even">
<td>0</td>
<td>Afghanistan</td>
<td>0</td>
<td>0</td>
<td>0</td>
<td></td>
</tr>
<tr class="odd">
<td>1</td>
<td>Albania</td>
<td>89</td>
<td>132</td>
<td>54</td>
<td></td>
</tr>
<tr class="even">
<td>2</td>
<td>Algeria</td>
<td>25</td>
<td>0</td>
<td>14</td>
<td></td>
</tr>
<tr class="odd">
<td>3</td>
<td>Andorra</td>
<td>245</td>
<td>138</td>
<td>312</td>
<td></td>
</tr>
<tr class="even">
<td>4</td>
<td>Angola</td>
<td>217</td>
<td>57</td>
<td>45</td>
<td></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>total_litres_of_pure_alcohol continent</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>0</td>
<td>0.0</td>
<td><blockquote>
<p>AS</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td>1</td>
<td>4.9</td>
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>2</td>
<td>0.7</td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td>3</td>
<td>12.4</td>
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td>4</td>
<td>5.9</td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

> \[5\]: drinks.shape
>
> \[5\]: (193, 6)

1

<table>
<thead>
<tr class="header">
<th>[20]: drinks.groupby('continent').beer_servings.mean().sort_values()</th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td>[20]: continent</td>
<td></td>
</tr>
<tr class="even">
<td>AS</td>
<td><blockquote>
<p>37.045455</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>AF</td>
<td><blockquote>
<p>61.471698</p>
</blockquote></td>
</tr>
<tr class="even">
<td>OC</td>
<td><blockquote>
<p>89.687500</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>SA</td>
<td><blockquote>
<p>175.083333</p>
</blockquote></td>
</tr>
<tr class="even">
<td>EU</td>
<td><blockquote>
<p>193.777778</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>Name: beer_servings, dtype: float64</p>
</blockquote></td>
<td></td>
</tr>
</tbody>
</table>

> 2\)

\[10\]: drinks.groupby('continent').wine_servings.describe()

<table>
<thead>
<tr class="header">
<th>[10]:</th>
<th>continent</th>
<th>count</th>
<th>mean</th>
<th>std</th>
<th>min</th>
<th>25%</th>
<th>50%</th>
<th>75%</th>
<th><blockquote>
<p>max</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td>53.0</td>
<td><blockquote>
<p>16.264151</p>
</blockquote></td>
<td>38.846419</td>
<td>0.0</td>
<td>1.0</td>
<td>2.0</td>
<td>13.00</td>
<td><blockquote>
<p>233.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>AS</p>
</blockquote></td>
<td>44.0</td>
<td>9.068182</td>
<td>21.667034</td>
<td>0.0</td>
<td>0.0</td>
<td>1.0</td>
<td>8.00</td>
<td><blockquote>
<p>123.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td>45.0</td>
<td>142.222222</td>
<td>97.421738</td>
<td>0.0</td>
<td>59.0</td>
<td>128.0</td>
<td>195.00</td>
<td><blockquote>
<p>370.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>OC</p>
</blockquote></td>
<td>16.0</td>
<td><blockquote>
<p>35.625000</p>
</blockquote></td>
<td>64.555790</td>
<td>0.0</td>
<td>1.0</td>
<td>8.5</td>
<td>23.25</td>
<td><blockquote>
<p>212.0</p>
</blockquote></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>SA</p>
</blockquote></td>
<td>12.0</td>
<td><blockquote>
<p>62.416667</p>
</blockquote></td>
<td>88.620189</td>
<td>1.0</td>
<td>3.0</td>
<td>12.0</td>
<td>98.50</td>
<td><blockquote>
<p>221.0</p>
</blockquote></td>
</tr>
</tbody>
</table>

> 3\)

\[11\]: drinks.groupby('continent').mean()

<table>
<thead>
<tr class="header">
<th>[11]:</th>
<th>continent</th>
<th>beer_servings</th>
<th>spirit_servings</th>
<th>wine_servings</th>
<th><blockquote>
<p>\</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td>61.471698</td>
<td>16.339623</td>
<td>16.264151</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>AS</p>
</blockquote></td>
<td>37.045455</td>
<td>60.840909</td>
<td>9.068182</td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td>193.777778</td>
<td>132.555556</td>
<td>142.222222</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>OC</p>
</blockquote></td>
<td>89.687500</td>
<td>58.437500</td>
<td>35.625000</td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>SA</p>
</blockquote></td>
<td>175.083333</td>
<td>114.750000</td>
<td>62.416667</td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td>continent</td>
<td><blockquote>
<p>total_litres_of_pure_alcohol</p>
</blockquote></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td>3.007547</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>AS</p>
</blockquote></td>
<td>2.170455</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td>8.617778</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td></td>
<td><blockquote>
<p>OC</p>
</blockquote></td>
<td>3.381250</td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td></td>
<td><blockquote>
<p>SA</p>
</blockquote></td>
<td>6.308333</td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

> 4\)

\[12\]: drinks.groupby('continent').median()

<table>
<thead>
<tr class="header">
<th>[12]:</th>
<th>continent</th>
<th>beer_servings</th>
<th>spirit_servings</th>
<th>wine_servings</th>
<th><blockquote>
<p>\</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td></td>
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td>32.0</td>
<td>3.0</td>
<td>2.0</td>
<td></td>
</tr>
</tbody>
</table>

2

<table>
<thead>
<tr class="header">
<th><blockquote>
<p>AS</p>
</blockquote></th>
<th>17.5</th>
<th>16.0</th>
<th><blockquote>
<p>1.0</p>
</blockquote></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td>219.0</td>
<td>122.0</td>
<td><blockquote>
<p>128.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>OC</p>
</blockquote></td>
<td>52.5</td>
<td>37.0</td>
<td><blockquote>
<p>8.5</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>SA</p>
</blockquote></td>
<td>162.5</td>
<td>108.5</td>
<td><blockquote>
<p>12.0</p>
</blockquote></td>
</tr>
<tr class="even">
<td>continent</td>
<td><blockquote>
<p>total_litres_of_pure_alcohol</p>
</blockquote></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>AF</p>
</blockquote></td>
<td>2.30</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><blockquote>
<p>AS</p>
</blockquote></td>
<td>1.20</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>EU</p>
</blockquote></td>
<td>10.00</td>
<td></td>
<td></td>
</tr>
<tr class="even">
<td><blockquote>
<p>OC</p>
</blockquote></td>
<td>1.75</td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>SA</p>
</blockquote></td>
<td>6.85</td>
<td></td>
<td></td>
</tr>
</tbody>
</table>

\[ \]:

3